html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", Times, Arial, sans-serif;

  /* background-color: rgb(29, 2, 62);
  color: rgb(240, 240, 240); */
}

.portfolio-header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: rgba(255, 255, 255, 0.7);
}

.portfolio-header-inner {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
}

.portfolio-naviagation {
  display: flex;
  gap: 15px;
}

.portfolio-link {
  font-size: 20px;
  text-decoration: none;
  color: rgb(40, 40, 40);
  cursor: pointer;
}

.portfolio-link:hover {
  text-decoration: underline;
}

.portfolio-link:active {
  text-decoration: none;
  font-weight: bold;
}

.portfolio-main {
  margin: 0 auto;
  max-width: 1400px;
}

.about-me {
  height: 100vh; /*Делает секцию полной для экрана*/
  display: flex;
  align-items: center;
  gap: 40px;
}

.about-video {
  height: 100vh;
}

.about-stack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.about-stack h2 {
  margin-top: 70px;
  font-size: 30px;
}

.stack {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: 300px 200px 200px;
  /* column-gap: 75px;
  row-gap: 60px; */
}

.stack-item {
  display: flex;
  flex-direction: column;
}

.programming-languages {
}
