html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", Times, Arial, sans-serif;

  /* background-color: rgb(29, 2, 62);
  color: rgb(240, 240, 240); */
}

.portfolio-header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: rgba(255, 255, 255, 0.7);
}

.portfolio-header-inner {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
}

.portfolio-naviagation {
  display: flex;
  gap: 15px;
}

.portfolio-link {
  font-size: 20px;
  text-decoration: none;
  color: rgb(40, 40, 40);
  cursor: pointer;
}

.portfolio-link:hover {
  text-decoration: underline;
}

.portfolio-link:active {
  text-decoration: none;
  font-weight: bold;
}

.portfolio-main {
  margin: 0 auto;
  max-width: 1200px;
  width: 95%;
}

.about-me {
  height: 100vh; /*Делает секцию полной для экрана*/
  display: flex;
  align-items: center;
  gap: 80px;
}

.about-description {
  max-width: 700px;
}

.about-video {
  height: 100vh;
}

.about-stack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 45px 20px;
}

.about-stack h2 {
  align-self: flex-start;
  margin: 0 0 20px;
  font-size: 28px;
}

.stack {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: repeat(2, 300px);
  /* column-gap: 75px;
  row-gap: 60px; */
}

.stack-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.stack-item ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 10px;
}

.about-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.about-projects h2 {
  align-self: flex-start;
  margin-top: 60px;
  font-size: 30px;
}

.project {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: repeat(2, 300px);
}

.project-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.project-item h3 {
  margin-bottom: 0;
}

.project-item a {
  display: block;
}
